<%- include header.ejs %>

  <img class="home-page-image" src="https://s-i.huffpost.com/gen/1145410/images/o-VINYL-RECORDS-facebook.jpg">

  <div class="home-page-container">
    <div class="album-list-container">
      <h2>Records</h2>
      <div class="album-list-item">
        <% albums.forEach(function(album) { %>
          <div>
            <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
            <span><%= album.artist %></span>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="review-list-container">
      <h2>Recent Reviews</h2>
      <div class="review-list-item">
      <% if (reviews) { %>
        <% reviews.forEach(function(review) { %>
          <div>
            <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
            <span><%= review.date_written %></span>
            <span><%= review.description %></span>
            <span>by <a href="/users/<% review.user_id %>"><%= review.name %></a></span>
          </div>
        <% }) %>
      <% } %>
      </div>
    </div>
  </div>

<%- include footer.ejs %>
