<%- include ./header.ejs %>

  <div class="user-page-container">

    <div class="user-image">
      <img src="<%= profile_pic %>" alt="https://support.plymouth.edu/kb_images/Yammer/default.jpeg">
    </div>

    <div class="user-page-header">
      <div><%= user.name %></div>
      <div class="user-page-header-item">
        <span class="user-page-header-item-left">Email</span>
        <span class="user-page-header-item-right"><%= user.email %></span>
      </div>
      <div class="user-page-header-item">
        <span class="user-page-header-item-left">Date Joined</span>
        <span class="user-page-header-item-right"><%= user.date_joined %></span>
      </div>
    </div>

    <div class="user-page-review-list">
      <h3>Reviews</h3>
      <% if (reviews) { %>
        <% reviews.forEach(function(review) { %>
          <div>
            <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
            <span><%= review.date_written %></span>
            <span><%= review.description %></span>
            <span>by <a href="/users/<% review.user_id %>"><%= review.name %></a></span>
          </div>
          <% if (reviewAuthor) { %>
            <span id="review.id">&#xe020</span>
          <% } %>
        <% }) %>
      <% } %>
    </div>

<%- include ./footer.ejs %>
