<%- include ./header.ejs %>

  <div class="user-page-container">

    <div class="user-image-container">
      <% if (user.profile_pic) { %>
        <img class="user-image" src="<%= user.profile_pic %>" alt="No Image Available">
      <% } else { %>
        <img class="user-image" src="https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png">
      <% } %>
    </div>
    <button class="edit-profile-button" type="button">Edit Profile Picture</button>

    <div class="user-page-header">
      <div><%= user.name %></div>
      <div class="user-page-header-item">
        <span class="user-page-header-item-left">Email</span>
        <span class="user-page-header-item-right"><%= user.email %></span>
      </div>
      <div class="user-page-header-item">
        <span class="user-page-header-item-left">Date Joined</span>
        <span class="user-page-header-item-right"><%= user.date_joined %></span>
      </div>
    </div>

    <div class="user-page-review-list">
      <h3>Reviews</h3>
      <% if (reviews) { %>
        <% reviews.forEach(function(review) { %>
          <div>
            <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
            <span><%= review.date_written %></span>
            <span><%= review.description %></span>
            <span>by <a href="/users/<% review.user_id %>"><%= review.name %></a></span>
            <% if (reviewAuthor) { %>
              <i class="fa fa-trash" id="review.id"></i>
            <% } %>
          </div>
        <% }) %>
      <% } %>
    </div>

<%- include ./modal.ejs %>

<%- include ./footer.ejs %>
